body {
	/* I'm using the fonts listed, each at 100% of their size*/
font: 100% "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
 /* I am using background colour blue */
background-color: #00a9ff;
}
.faster {
border: solid;
color: #383737;
}
.funstuff {
color: #181819;
font-size: 20%;
}
iframe {
background: #00a9ff;
border: solid;
}
/*End of stylesheet*/
/*Last Mod Time: Feb 12 12:27, 2019*/